{{/* NAV TEMPLATE FRAGMENT */}}
{{define "nav"}}<nav>
	<p>Go-Fed</p>
	<ul>
		<li><a href="{{.Data.HomeData.Path}}">Home</a></li>
		<li><a href="{{.Data.TutorialData.Path}}">Tutorial</a></li>
		<li><a href="{{.Data.RepositoriesData.Path}}">Docs</a></li>
		{{if .Data.OrgData}}
		<li><a href="{{.Data.OrgData.Path}}">{{.Data.OrgData.Name}}</a></li>
		{{end}}
	</ul>
</nav>{{end}}

{{/* CSS INLINE STYLE TEMPLATE FRAGMENT */}}
{{define "inlineStyle"}}<style>
h1, h2, h3, h4, h5, h6, p, a, label {
	margin: 0;
}
body {
	background: #eaeaea;
	margin: 0;
	padding: 0;
	height: 100%;
}
#container {
	min-height: 100%;
	position: relative;
}
nav {
	display: flex;
	padding-left: 25px;
}
nav > p {
	font-weight: bold;
	font-size: 3em;
	color: #151515;
}
nav > ul {
	margin: auto 0;
}
nav > ul > li {
	display: inline-block;
	margin: 0 0.25em;
	background: #740d00;
	border-radius: 5px;
	padding: 0.5em;
}
nav > ul > li > a {
	text-decoration: none;
	color: #ffffff;
}
#nav {
	font-family: Arial, sans-serif;
	background: #f38d7f;
	padding: 1em 0;
}
#body {
	font-family: Arial, sans-serif;
	line-height: 1.3em;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 85px;
}
#body > h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	background: #f38d7f;
	border-radius: 5px;
	padding: 0.5em;
}
#body > h3 {
	margin-left: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#body > p {
	margin: 1em 2em;
}
#body > ul {
	padding-left: 2em;
	margin: 1em 2em;
	list-style-type: none;
	font-size: 0.9em;
}
#body > ul > ul {
	padding-left: 2em;
	list-style-type: none;
}
p > a {
	text-decoration: none;
	color: #740d00;
}
p > a:hover {
	text-decoration: underline;
}
#body > ul > li > a {
	text-decoration: none;
	color: #740d00;
}
#body > ul > li > a:hover {
	text-decoration: underline;
}
#body > ul > ul > li > a {
	text-decoration: none;
	color: #740d00;
}
#body > ul > ul > li > a:hover {
	text-decoration: underline;
}
.permalink {
	display: none;
	text-decoration: none;
	margin-left: 0.5em;
	color: #740d00;
}
h2:hover > .permalink {
	display: inline;
}
h3:hover > .permalink {
	display: inline;
}
header {
	margin-bottom: 2em;
}
footer {
	font-family: Arial, sans-serif;
	background: #151515;
	color: #eaeaea;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-top: 1em;
}
footer > p {
	text-align: center;
}
footer > p > a {
	text-decoration: none;
	color: #f38d7f;
}
footer > p > a:hover {
	text-decoration: underline;
}
pre {
	background: #ffffff;
	border-radius: 5px;
	padding: 0.5em;
	font-size: 1.25em;
	overflow: auto;
	margin: 1em 2em;
}
.comment {
	color: #740d00;
}
@media only screen and (max-width:550px) {
	nav > p {
		display: none;
	}
	#body {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 70px;
	}
}
@media only screen and (max-width:480px) {
	nav > p {
		display: none;
	}
	#body {
		padding-top: 10px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 70px;
	}
	#body > h2 {
		border-radius: 0;
	}
}
</style>{{end}}

{{/* HEADER TEMPLATE FRAGMENT */}}
{{define "header"}}<html>
<head>
	<meta name="referrer" content="origin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{range .Favicons}}
		<link rel="icon" href="{{.Path}}" type="image/png" sizes="{{.Size}}">
	{{end}}
	<title>{{.PageTitle}}</title>
	{{template "inlineStyle" .}}
</head>
<body>
<div id="container">
	<div id="nav">{{template "nav" .}}</div>
	<div id="body">
{{end}}

{{/* FOOTER TEMPLATE FRAGMENT */}}
{{define "footer"}}</div>
<footer>
	<p>Automatic Golang Git Repository Documentation Generated by <a href="https://github.com/go-fed/site">go-fed/site</a></p>
	<p>Contact: <a href="https://mastodon.technology/@cj">@cj@mastodon.technology</a></p>
</footer>
</div></body></html>{{end}}

{{/* NOT FOUND TEMPLATE */}}
{{define "notFound"}}{{template "header" .}}<header><h1>Not Found</h1></header>
<p>Sorry, nothing was found here!</p>
{{template "footer" .}}{{end}}

{{/* HOME TEMPLATE */}}
{{define "home"}}{{template "header" .C}}
<h1>Go Federate!</h1>
<h3>ActivityPub in golang</h3>
<p>- Tired of applications that silo its users?</p>
<p>- Want to join a decentralized network of social interactions?</p>
<p>- Have a golang app that lacks social functionality?</p>
<p>- Got a great social experience and looking to implement it in Go?</p>
<p>- Looking to extend the fediverse?</p>
<p>- Would you like a pony?</p>
<h3>go-fed can help with all your non-equine needs!</h3>
<p>ActivityPub is a protocol that different social applications use to communicate
with each other. This lets users on
<a href="https://joinmastodon.org/">Mastodon</a>,
<a href="https://pleroma.social/">Pleroma</a>,
<a href="https://pixelfed.org/">PixelFed</a>,
<a href="https://joinpeertube.org/en/home/">PeerTube</a>,
and many more different kinds of software talk, follow, share, and like each other's
content.</p>
<p>Whether you want to create a new social app or retrofit social
functionality into an existing one, ActivityPub lets you take advantage of everyone's
network effect by having everyone pitch in theirs! This is the Fediverse.</p>
<p><a href="https://github.com/go-fed">go-fed</a> is unlike most other software on the Fediverse. It is the first and possibly
the only standalone ActivityPub library. It is also the pioneering solution in golang.
It is designed for those who have no prior experience with ActivityPub, ActivityStreams,
JSON-LD, or RDF.</p>
<p>Come join the Federation and have your golang application support ActivityPub today!<p>
<p>Come start by reading the tutorial!<p>
<h3>About this site</h3>
<p>This site is the canonical resource for tutorials and documentation surrounding the
<a href="https://github.com/go-fed">go-fed</a> organization..</p>
{{template "footer" .C}}{{end}}

{{/* TUTORIAL TEMPLATE */}}
{{define "tutorial"}}{{template "header" .C}}<header><h1>Go-Fed Activity v0 Tutorial</h1></header>
<p>To be written...</p>
{{template "footer" .C}}{{end}}

{{/* ALL REPOS TEMPLATE */}}
{{define "repositories"}}{{template "header" .C}}<header><h1>Repositories</h1></header>
<p>Please select a repository:</p>
<ul>
{{range .C.Data.RepositoryData}}
	<li><a href="{{.Path}}">{{.Name}}</a></li>
{{end}}
</ul>
{{template "footer" .C}}{{end}}

{{/* REPO TEMPLATE */}}
{{define "repository"}}{{template "header" .C}}<header><h1>Repository {{.Name}}</h1></header>
<p>Please select a tag at which to view this repository:</p>
<ul>
{{range .TagData}}
	<li><a href="{{.Path}}">{{.Name}}</a></li>
{{end}}
</ul>
{{template "footer" .C}}{{end}}

{{/* TAG TEMPLATE */}}
{{define "tag"}}{{template "header" .C}}<header><h1>Repository {{.Parent.Name}} ({{.Name}})</h1></header>
<p>Please select a golang package:</p>
<ul>
{{range .PackageData}}
	<li><a href="{{.Path}}">{{.Package.ImportPath}}</a></li>
{{end}}
</ul>
{{template "footer" .C}}{{end}}

{{/* PACKAGE TEMPLATE */}}
{{define "package"}}{{template "header" .C}}<header><h1>Package {{.Name}} ({{.Parent.Name}})</h1></header>
{{$fset := .FSet}}
<pre>import <span class="comment">&quot;{{.Package.ImportPath}}&quot;</span></pre>
<p>This package depends on:</p>
<ul>
	{{range .Package.Imports}}<li>{{.}}</li>{{end}}
</ul>
<h2>Overview</h2>
{{ToHTML .Package.Doc}}
<h2>Index</h2>
<ul>
	{{range .Package.Funcs}}
		<li><a href="#{{.Name}}">{{PrintAST .Decl $fset}}</a></li>
	{{end}}
	{{range .Package.Types}}
		<li><a href="#{{.Name}}">type {{.Name}}</a></li>
		{{if .Funcs}}<ul>
			{{range .Funcs}}
				<li><a href="#{{.Name}}">{{PrintAST .Decl $fset}}</a></li>
			{{end}}
		</ul>{{end}}
		{{if .Methods}}<ul>
			{{range .Methods}}
				<li><a href="#{{.Name}}">{{PrintAST .Decl $fset}}</a></li>
			{{end}}
		</ul>{{end}}
	{{end}}
</ul>
{{range .Package.Funcs}}
	<h2 id="{{.Name}}">func {{.Name}}<a class="permalink" href="#{{.Name}}">¶</a></h2>
	<pre>{{PrintAST .Decl $fset}}</pre>
	{{ToHTML .Doc}}
{{end}}
{{range .Package.Types}}
	<h2 id="{{.Name}}">type {{.Name}}<a class="permalink" href="#{{.Name}}">¶</a></h2>
	<pre>{{PrintAST .Decl $fset}}</pre>
	{{ToHTML .Doc}}
	{{range .Funcs}}
		<h3 id="{{.Name}}">func{{if gt (len .Recv) 0}}  ({{.Recv}}){{end}} {{.Name}}<a class="permalink" href="#{{.Name}}">¶</a></h3>
		<pre>{{PrintAST .Decl $fset}}</pre>
		{{ToHTML .Doc}}
	{{end}}
	{{range .Methods}}
		<h3 id="{{.Name}}">func{{if gt (len .Recv) 0}} ({{.Recv}}){{end}} {{.Name}}<a class="permalink" href="#{{.Name}}">¶</a></h3>
		<pre>{{PrintAST .Decl $fset}}</pre>
		{{ToHTML .Doc}}
	{{end}}
{{end}}
{{template "footer" .C}}{{end}}
