<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}" xml:lang="{{.Site.Language.Lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
		<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous"-->
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/fork-awesome.min.css">
		<link rel="shortcut icon" href="{{ $.Site.BaseURL }}favicon/192.png" sizes="192x192">
		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
		{{/*
		{{ if .IsPage }}<meta name="keywords" content='{{ delimit .Params.tags " "}}'>{{ end }}
		*/}}
		<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
		<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
		<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
		<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
		<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
		<meta property="og:site_name" content="{{ .Site.Title }}" />
		<meta name="description" content="{{ .Summary }}">
		<meta itemprop="description" content="{{ .Summary }}" />
		<meta property="og:description" content="{{ .Summary }}" />
		<meta name="twitter:description" content="{{ .Summary }}" />
		<base href="{{ .Permalink }}">
		<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
		<meta name="url" content="{{ .Permalink }}" />
		<meta name="twitter:url" content="{{ .Permalink }}" /> 
		<meta property="og:url" content="{{ .Permalink }}" />
		{{ with .Params.cover }}<meta itemprop="image" content="{{ . | absURL }}" />
		<meta property="og:image" content="{{ . | absURL }}" /> 
		<meta name="twitter:image" content="{{ . | absURL }}" />
		<meta name="twitter:image:src" content="{{ . | absURL }}" />{{ else }}
		<meta itemprop="image" content='{{ $.Site.BaseURL }}favicon/192.png' />
		<meta property="og:image" content='{{ $.Site.BaseURL }}favicon/192.png' />
		<meta name="twitter:image" content='{{ $.Site.BaseURL }}favicon/192.png' />
		<meta name="twitter:image:src" content='{{ $.Site.BaseURL }}favicon/192.png' />{{ end }}
		<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
		{{ if isset .Params "date" }}<meta property="og:type" content="article" />
		<script defer type="application/ld+json">
			{
			  "@context": "http://schema.org",
			  "@type": "Article",
			  "headline": {{ .Title }},
			  "author": {
				 "@type": "Person",
				 "name": "{{ .Params.author }}"
			  },
			  "datePublished": "{{ .Date.Format "2006-01-02" }}",
			  "description": {{ .Summary }},
			  "wordCount": {{ .WordCount }},
			  "mainEntityOfPage": "True",
			  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
			  "image": {
				 "@type": "imageObject",
				 "url": "{{ with .Params.cover }}{{ . }}{{ end }}"
			  },
			  "publisher": {
				 "@type": "Person",
				 "name": "{{ .Site.Title }}",
				 "logo": {
					"@type": "imageObject",
					"url": "{{ $.Site.BaseURL }}favicon/192.png"
				 }
			  }
			}
		 </script>
		{{ else }}<meta property="og:type" content="website" /> 
		<meta name="author" content="{{ .Params.author }}" />
		<script defer type="application/ld+json">
		  { 
			 "@context": "http://schema.org", 
			 "@type": "WebSite", 
			 "url": "{{ .Permalink }}", 
			 "name": "{{ .Title }}", 
			 "logo": "{{ $.Site.BaseURL }}favicon/192.png"
		  }
		</script>{{ end }}
		<meta property="article:publisher" content="{{ .Params.author }}" />
		{{ with.Params.author }}<meta property="og:article:author" content="{{ . }}" />
		<meta property="article:author" content="{{ . }}" /> 
		<meta name="author" content="{{ . }}" />{{ end }}
		{{ with.Params.category }}<meta name="news_keywords" content="{{ . }}" />
		<meta property="article:section" content="{{ . }}" />{{ end }}
		<meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} /> 
		<meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
		<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 
		{{ with .OutputFormats.Get "RSS" }}<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
		<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />{{ end }}
		<meta name="robots" content="index,follow" /> 
		<meta name="googlebot" content="index,follow" />
		<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />
		<meta name="theme-color" content="#ffffff" /> 
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="imagemode" content="force" />
		<meta name="coverage" content="Worldwide" /> 
		<meta name="distribution" content="Global" />
		<meta name="HandheldFriendly" content="True" /> 
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" /> 
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-touch-fullscreen" content="yes" />

	</head>
	<body>
		{{ partial "site-header.html" . }}
		{{ block "main" . }}
		{{ end }}
		{{ partial "site-footer.html" .}}
	</body>
</html>
